.contacts-panel {
    display: flex;
    flex-direction: column;
    flex-shrink: 0; /* En revisión */
    flex-grow: 0; /* En revisión */
    width: 565px; /* En revisión */
    min-width: 336px;  
    height: 100%;
    background-color: var(--WA-color-white);
    border-left: 1px solid var(--WA-color-black-10);
    border-right: 1px solid var(--WA-color-black-10);
}

.contacts-panel__nav {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--WA-color-white);
    z-index: 2;
}

.contacts-panel__chats {
    overflow-y: auto;
    flex-grow: 1;
}

.contacts-panel__footer-note {
    text-align: center;
    margin: 15px 16px;
    padding-top: 10px;
    border-top: 1px solid var(--WA-color-black-10);
}

.contacts-panel__footer-text {
    font-size: 12px;
    font-weight: var(--WA-font-weight-regular);
    color: var(--WA-color-black);
}

.contacts-panel__footer-icon-container {
    display: inline-block;
    margin-bottom: 1px;
    vertical-align: middle;
}

.contacts-panel__footer-icon {
    width: 12px;
    height: 12px;
    color: var(--WA-color-black);
}

/* @media (min-width: 1887px) {
    .contacts-panel {
        flex-basis: 565px;
        max-width: 565px;
    }
} */

@media (max-width: 1886px) and (min-width: 1301px) {
    .contacts-panel {
        /* width: 50vw; */
        width: calc(100vw * 565 / 1886);
        max-width: 565px;
        min-width: 389px;
    }
}

@media (max-width: 1300px) and (min-width: 901px) {
    .contacts-panel {
        /* width: 40vw; */
        width: calc(100vw * 519 / 1300);
        max-width: 519px;
        min-width: 359px;
    }
}

@media (max-width: 900px) and (min-width: 521px) {
    .contacts-panel {
        /* width: 42vw; */
        width: calc(100vw * 404 / 900);
        max-width: 404px;
        min-width: 336px;
    }
}

@media (max-width: 520px) {
    .contacts-panel {
        width: 100%;
        max-width: none;
        min-width: auto;
    }
}