.sidebar {
    width: 64px;
    height: 100%;
    background-color: #F7F5F3;
}

.sidebar__nav {}

.sidebar__main-actions {}

.sidebar__user-actions {}

.sidebar__button {}

.sidebar__btn-icon {}

.large-icon {}

.sidebar__profile-btn {}

.sidebar__profile-image {}