.sidebar {
    width: 64px;
    height: 100%;
    background-color: #F7F5F3;
}

.sidebar__nav {}

.sidebar__main-actions,
.sidebar__user-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar__user-actions {}

.sidebar__button {
    padding: 8px;
}

.sidebar__btn-icon {
    width: 24px;
    height: 24px;
}

.large-icon {}

.sidebar__profile-btn {}

.sidebar__profile-image {}