.sidebar {
    /* width: 64px; */
    height: 100vh; /* height: 100%; */
    padding: 10px 12px;
    background-color: var(--WA-color-bg);
    display: flex;
    flex-direction: column;
}

.sidebar__nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.sidebar__main-actions,
.sidebar__user-actions {
    display: flex;
    flex-direction: column;
    
}

.sidebar__button {
    width: 40px;
    height: 40px;
    margin: 2px 0px;
    background: transparent;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.sidebar__button:hover {
    background-color: var(--WA-color-black-05);
}

.sidebar__button--active {
    background-color: var(--WA-color-black-05);
    color: var(--WA-color-neutral-black);
    /* border-radius: 50%; */
}

.sidebar__small-icon-btn {
    padding: 8px;
}

.sidebar__large-icon-btn {
    padding: 4px;
}

.sidebar__profile-btn {
    padding: 6px;
}


/* Iconos */
.sidebar__btn-icon {
    color: var(--WA-color-black-60);
}

.sidebar__button--active .sidebar__btn-icon {
    color: var(--WA-color-neutral-black);
}

.sidebar__small-icon {
    width: 24px;
    height: 24px;
}

.sidebar__large-icon {
    width: 32px;
    height: 32px;
}

/* .sidebar__button:hover .sidebar__btn-icon {
    color: #000;
} */

.sidebar__profile-image {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
}