.app-download-panel {
    flex: 1;
    width: 100%;
    height: 100%;
    min-width: 347px;
    padding: 28px 20px;
    background-color: var(--WA-color-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.app-download__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
}

.app-download__image {
    width: 320px;
    height: auto;
}

.app-download__title {
    margin-top: 38px;
    font-size: 36px;
    line-height: 36px;
    font-weight: var(--WA-font-weight-light);
    color: var(--WA-color-black);
}

.app-download__text {
    margin-top: 24px;
    font-size: 14px;
    line-height: 1.4;
    font-weight: var(--WA-font-weight-regular);
    color: var(--WA-color-black-60);
}

.app-download__button {
    margin-top: 32px;
    padding: 10px 24px;
    font-size: 14px;
    cursor: pointer;
    background-color: var(--WA-color-green);
    border: none;
    border-radius: 50%;
}

.app-download__button:hover {
    background-color: var(--WA-color-green-80);
}

.app-download__footer {}

.app-download__icon {}

@media (max-width: 520px) {
    .app-download {
        display: none;
    }
}