.contacts-panel-navbar {
    height: 64px;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--WA-color-white);
}

.contacts-panel-navbar__logo-container {
    display: flex;
    justify-content: left;
    align-items: center;
}

.contacts-panel-navbar__logo-container h1 {
    display: flex;
    justify-content: left;
    align-items: center;
}

.contacts-panel-navbar__wa-logo {
    color: var(--WA-color-green);
}

.contacts-panel-navbar__nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.contacts-panel-navbar__button {
    width: 40px;
    height: 40px;
    padding: 8px;
    background: transparent;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.contacts-panel-navbar__button:hover {
    background-color: var();
}

.contacts-panel-navbar__icon {
    width: 24px;
    height: 24px;
    color: var(--WA-color-black);
}

