.chat-dialog {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 75%;
    margin: 8px 0px;
    padding: 8px 12px;
    border-radius: 12px;
    background-color: #f0f0f0;
    font-size: 0.95rem;
    line-height: 1.4;
    word-wrap: break-word;
}

.chat-dialog.my-message {
    align-self: flex-end;
    background-color: #dcf8c6;
    border-bottom-right-radius: 0;
}

.chat-dialog.their-message {
    align-self: flex-start;
    background-color: #f1f0f0;
    border-bottom-left-radius: 0;
}

.chat-bubble-tail {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border: 8px solid transparent;
}

.chat-bubble-tail.tail-right {
    right: -16px;
    border-left-color: #d1f7c4;
}

/* .chat-bubble-tail.tail-right::after {
    content: '';
    position: absolute;
    right: -10px;
    top: 10px;
    border-top: 10px solid transparent;
    border-left: 10px solid #dcf8c6;
    border-bottom: 10px solid transparent;
} */

.chat-bubble-tail.tail-left {
    left: -16px;
    border-right-color: #ffffff;
}

/* .chat-bubble-tail.tail-left::after {
    content: '';
    position: absolute;
    left: -10px;
    top: 10px;
    border-top: 10px solid transparent;
    border-right: 10px solid #f1f0f0;
    border-bottom: 10px solid transparent;
} */

.message-content {}


/* Colores de los iconos de status de los mensajes */
/* Modo claro (por defecto) */
.status-icon {
    width: 16px;
    height: 16px;
    margin-left: 4px;
    vertical-align: middle;
}

.status-sent,
.status-received {
    fill: rgba(0, 0, 0, 0.6);
}

.status-seen {
    fill: #007BFC;
}

/* Modo oscuro */
.dark-mode .status-sent,
.dark-mode .status-received {
    fill: #ffffff; /* Este está mal, no es blanco puro, tiene opacidad. Poner la app en modo oscuro e inspeccionar para tomar el color exacto. */
}

.dark-mode .status-seen {
    fill: #007BFC; /* Ver si lo cambio o no */
}